body {
  background-image: url('Images/Beltline.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

h1{
    color: blu;
}

h2 {
   color: white;
  margin-left: 100px; 
}

<body>

