body {
<<<<<<< HEAD
  background-image: url('Images/Beltline.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

h1{
    color: whitesmoke
}

h2 {
   color: white;
  margin-left: 100px; 
}

<body>

=======
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
>>>>>>> 51498b4c8574c5549f94fa1e0bbdffde9256083e
